coverage==4.5.1
flake8==3.5.0
flake8-builtins==1.4.1
flake8-print==3.1.0
mccabe==0.6.1
pep8-naming==0.7.0
pycodestyle<2.4.0,>=2.3.1
pytest==3.6.3
pytest-cov==2.5.1
pytest-env==0.6.2
pytest-sugar==0.9.1
pytest-xdist==1.22.2
requests==2.19.1
